extends ../layout

block content
	h1= post.title
	div
		p= post.title
		p= post.body
	div
		p #{username}
	ul.comments
		each comment in post.comments
			li.comment(data-id=comment._id)
				div
					p= comment.name
					p= comment.body
	form(method='post', action='/api/posts/'+post._id+'/comments')
		div
			input(type='text', name='name')
		div
			input(type='text', name='body')
		div
			input(type='submit')